name: Build
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Enable Corepack
        run: corepack enable

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Check Formatting
        run: pnpm run format:check

      - name: Lint
        run: pnpm run lint

      - name: Test
        id: test
        run: pnpm run test

      - name: Build
        run: pnpm run build

      - name: Upload dist
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist

  publish:
    name: Publish
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 20
    if: github.ref == 'refs/heads/main'
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download dist
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"
          always-auth: false

      - name: Publish @ngneers/ng-httpclient-easy-network-stub
        id: publish
        uses: JS-DevTools/npm-publish@v4
        with:
          package: dist

      - name: Create Tag for @ngneers/ng-httpclient-easy-network-stub
        uses: rickstaa/action-create-tag@v1
        with:
          tag: v${{ steps.publish.outputs.version }}
          tag_exists_error: false
